#trafficTop {
    width: 1cm;
    height: 3cm;
    background-color: black;
    margin: auto
}

.light {
    margin: 5px;
    width: 4cm;
    height: 4cm;
    padding: 2px;
    border-radius: 50%;
}

#container {
    margin: auto;
    width: 5cm;
    height: 13cm;
    background-color: black;
    border-radius: 5%;
    padding: 20px;

}

.red {
    background-color: red;

}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.selected {
    box-shadow: 0px 0px 30px 30px rgb(235, 232, 232);
}

